.counter {
  background: #ccc;
  border-radius: 6px;
  clear: both;
  display: block;
  float: left;
  font: normal 16px/26px Helvetica, Arial;
  padding: 20px;
}
.label {
  clear: both;
  display: block;
  float: left;
  text-align: center;
  width: 100%;
}
.count {
  clear: both;
  display: block;
  float: left;
  font: normal 26px/36px Helvetica, Arial;
  margin: 20px 0;
  text-align: center;
  width: 100%;
}
.button {
  background: #000;
  border-radius: 6px;
  color: #fff;
  display: block;
  float: left;
  margin: 10px;
  padding: 5px 10px;
}
