.form {
  border-radius: 6px;
  display: block;
  float: left;
  font: normal 16px/20px 'robotoregular', Helvetica, Arial;
  margin: 50px 0;
  padding: 10px;
}
.row {
  clear: both;
  display: block;
  float: left;
  margin: 0 0 30px 0;
  width: 100%;
}
.title{
  clear: both;
  display: block;
  float: left;
  font: bold 26px/36px 'robotoregular', Helvetica, Arial;
  margin: 0 0 30px 0;
  padding: 0;
  width: 100%;
}
.label {
  clear: both;
  display: block;
  float: left;
  margin: 0 0 10px 0;
  width: 100%;
}
.input_text {
  background: #eceff1;
  border: 2px #eceff1 solid;
  border-radius: 6px;
  clear: both;
  display: block;
  float: left;
  font: normal 16px/20px 'robotoregular', Helvetica, Arial;
  padding: 10px;
  width: 300px;
}
.input_area{
  background: #FFF;
  border: 1px #B4B4B4 solid;
  border-radius: 6px;
  color: #666;
  clear: both;
  display: block;
  float: left;
  height: 100px;
  margin: 0;
  padding: 16px;
  width: 100%;
}
.input_text:focus {
  border: 2px #263238 solid;
}
.stars{
  clear: both;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.star{
  display: block;
  float: left;
  margin: 0 4px 0 0;
  padding: 0;
  width: 24px;
}
