.header{
  background: #c1d5e0;
  clear: both;
  color: #263238;
  display: block;
  float: left;
  padding: 0 0 10px 0;
  width: 100%;
}
.logo {
  background: #263238;
  border-radius: 6px;
  color: #FFF;
  display: block;
  float: left;
  font: normal 12px/16px 'pantonblackcaps', Helvetica, Arial;
  margin: 10px 0 10px 30px;
  padding: 5px;
}
.button_language_wrap{
  border-radius: 6px;
  color: #1c313a;
  cursor: pointer;
  display: block;
  float: right;
  font: normal 16px/20px Helvetica, Arial;
  height: 40px;
  margin: 10px 10px 0 0;
  position: relative;
  width: 40px;
}
.button_language{
  background: #FFF;
  border-radius: 6px;
  color: #263238;
  display: block;
  float: left;
  font: normal 12px/12px Helvetica, Arial;
  height: 40px;
  padding: 5px 0 0 0;
  text-align: center;
  width: 40px;}
.button_language_flag{
  display: block;
  float: none;
  font: normal 20px/20px Helvetica, Arial;
  margin: 0;
  width: 100%;}
.button_language_label{
  display: block;
  float: left;
  margin: 0;
  width: 100%;}
.button_nav{
  background: #FFF;
  border-radius: 6px;
  color: #263238;
  display: block;
  float: right;
  font: normal 20px/40px Helvetica, Arial;
  height: 40px;
  margin: 10px 30px 0 0;
  padding: 10px 0 0 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 40px;
}
.nav{
  background: #c1d5e0;
  border: 1px #FFF solid;
  border-radius: 6px;
  color: #263238;
  display: block;
  float: left;
  font: normal 12px/22px Helvetica, Arial;
  padding: 0;
  position: absolute;
  right: 0px;
  text-align: left;
  top: 50px;
  width: 220px;
  z-index: 9000;
}
.nav a{
  clear: both;
  display: block;
  float: left;
  padding: 10px 20px;
  position: relative;
  width: 100%;
}
.nav a:first-child{
  border-radius: 8px 8px 0 0;
  padding: 10px 20px 10px 20px;
}
.nav a:last-child{
  border-radius: 0 0 8px 8px;
  padding: 10px 20px 10px 20px;
}
.nav a i{
  display: block;
  float: left;
  margin: 0 10px 0 0;
  text-align: center;
  width: 20px;
}
.nav a:hover,
.button_language:hover,
.button_nav:hover {
  background: #64ffda;
  color: #263238;
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: 600px) {
}
